.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Keyboard {
  position: relative;
  display: flex;
}

.BlackKey {
  position:absolute;
  background-color: black;
  top:0;
  left: 36px;
  height: 200px;
  width:  40px;
  border-style: solid;
  z-index: 2;

}

.WhiteKey {
  position:relative;
  background-color: white;
  height: 300px;
  width:  50px;
  border-style: solid;
  border-width: 5px;
  z-index: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
