.Keyboard {
  position: relative;
  display: flex;
}

.BlackKey {
  position:absolute;
  background-color: black;
  top:0;
  left: 36px;
  height: 200px;
  width:  40px;
  border-style: solid;
  z-index: 2;
  box-shadow: 5px 10px 5px gray
}

.WhiteKey {
  position:relative;
  background-color: white;
  height: 300px;
  width:  50px;
  border-style: solid;
  border-width: 5px;
  z-index: 1;
  box-shadow: 5px 10px 5px gray
}

.WhiteKey:hover, .BlackKey:hover {
  border-color: LightGrey;
  cursor:pointer;
  box-shadow: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
